/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.11.2017, 12:14:23
    Author     : christoph
*/

#Menu{
    width: 20%;
    margin-top: 10px;
    height: fit-content;
    margin-bottom: 5px;
}

.MenuEntry{
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    color: black;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    background-color: #ffcc00;
    height: 50px;
    line-height: 50px;
    border-bottom-width: 0px;
}

.MenuEntry:last-child{
    border-bottom-width: 1px;
}

.MainContentBorder{
    background-color: black;
    position: absolute;
    width:  1px;
    left: -1px;
}
            
.MainContentEntry{
    text-align: center;
    display: none;
    background-color: #ffe200;
    position: relative;
    width: 79.5%;
    left: 20%;
    height: 1000px;
    border: 1px;
    border-style: solid;
    border-left: 0px;
    
}

#MainHeaderLogStatus{
    position: absolute;
    top: 20px;
    right: 20px;
    }
            
#LoggedUser{
    color: white;
    font-weight: 600;
    font-family: Arial;
    }
    
#logout{
    height: 30px;
    width: 70px;
    position: relative;
    left: 20%;
}