/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.11.2017, 12:14:23
    Author     : christoph
*/

#Menu{
    background-color: #ffcc00;
    width: 15%;
    margin-top: 5px;
}

.MenuEntry{
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #cc3300;
    color: black;
    font-weight: bold;
    text-align: center;
}

.MenuEntry:hover{
    background-color: #ffe200;
}

#MainContent{
    background-color: #ffe200;
}