/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.11.2017, 08:58:52
    Author     : christoph
*/

#loginForm{
                margin: auto;
                margin-top: 10%;
                position: relative;
                padding: 20px;
                border-color: #ffcc00;
                border-style: solid;
                border-width: 3px;
                width: 360px;
            }
            
            .loginInput{
                margin-top: 5px;
                height: 50px;
                width : 350px;
                font-size: 20px;
            }
            
            .loginSubmit{
                margin-top: 15px;
                height: 50px;
                width: 250px;
                margin-left: 15%;
                background-color: #ffcc00;
                border-width: 0px;
                border-radius: 5px;
                font-size: 20px;
            }
            
            #warning{
                padding-top: 20px;
                color: red;
                font-size: 15px;
                text-align: center;
            }