/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
Created on : 11.11.2017, 10:47:49
Author     : christoph
*/
#buttonBack{
    width: 100px;
    height: 40px;
    font-size: 15px;
    position: absolute;
    top: 3%;
    left: 5%;
}

#Form{
    padding: 10px;
    font-size: 20px;
    width: fit-content;
}

#LeistBeschr{
    width: 500px;
    height: 50px;
    text-align: start;
}

.FormInputDiv{
    margin-top: 20px;
    margin-bottom:20px;
}

.FormLabel{
    font-size:18px;
}

.FormInput{
    font-size: 18px;
    width: 80px;
    text-align: center;
    height: 20px;

}

.toolTipIcon{
    height: 10px;
    width: 10px;
}

.dropInput{
    height: 25px;
}

.longInput{
    width: 200px;
}

#FormEmpfaengerChange{
    width: 100px;
    height: 30px;
    margin-left: 10px;
}

.Bold{
    font-weight: bold;
}

.Desc{
    height: 25px;
    text-align: center;
    padding: 5px;
}

#FormInputMatrix{
    border-collapse: collapse;
}

.AddButton{
    width: 20px;
    height:20px;
}


